In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 필요한 변수  
- age, sex, HE_LDL_drct, HE_HDL_st2, HE_insulin, HE_glu, HE_BMI, HE_wt, HE_wc HE_chol, HE_TG

In [4]:
df_2020 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/raw data/2020년 건강검진조사.csv',encoding='cp949')
df_2021 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/raw data/2021년 건강검진조사.csv',encoding='cp949')

display(df_2020)
display(df_2021)

/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_81776/916277226.py:1: DtypeWarning: Columns (140,208,317,376,496,506,518,665) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/raw data/2020년 건강검진조사.csv',encoding='cp949')
/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_81776/916277226.py:2: DtypeWarning: Columns (140,260,285,311,380,513,662,673) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/raw data/2021년 건강검진조사.csv',encoding='cp949')

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,2023.07.11.,A801169401,A8011694,2020,1,1,2,A801,1,39,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
1,2023.07.11.,A801169402,A8011694,2020,1,1,2,A801,2,39,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
2,2023.07.11.,A801169403,A8011694,2020,1,1,2,A801,1,10,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
3,2023.07.11.,A801169404,A8011694,2020,1,1,2,A801,1,7,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
4,2023.07.11.,A801169405,A8011694,2020,1,1,2,A801,1,4,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7354,2023.07.11.,R804366601,R8043666,2020,8,1,2,R804,2,61,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7355,2023.07.11.,R804368301,R8043683,2020,8,1,2,R804,2,51,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7356,2023.07.11.,R804368302,R8043683,2020,8,1,2,R804,2,24,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7357,2023.07.11.,R804371701,R8043717,2020,8,1,2,R804,1,65,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7358,2023.07.11.,R804371702,R8043717,2020,8,1,2,R804,2,57,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,LF_S10,LF_S11,LF_S12,LF_S13,LF_S14,LF_S14_1,LF_S15,LF_S16,LF_SECUR,LF_SECUR_G
0,2023.07.11.,A901215301,A9012153,2021,1,1,2,A901,1,61,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
1,2023.07.11.,A901215302,A9012153,2021,1,1,2,A901,1,57,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
2,2023.07.11.,A901225501,A9012255,2021,1,1,2,A901,2,39,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
3,2023.07.11.,A901225502,A9012255,2021,1,1,2,A901,2,19,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
4,2023.07.11.,A901227201,A9012272,2021,1,1,2,A901,1,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7085,2023.07.11.,R904351302,R9043513,2021,8,2,2,R904,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7086,2023.07.11.,R904353001,R9043530,2021,8,2,2,R904,1,45,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7087,2023.07.11.,R904353002,R9043530,2021,8,2,2,R904,2,43,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7088,2023.07.11.,R904353003,R9043530,2021,8,2,2,R904,1,8,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0
7089,2023.07.11.,R904353004,R9043530,2021,8,2,2,R904,1,8,...,3.0,3.0,3.0,8.0,8.0,8.0,8.0,8.0,0.0,1.0

In [6]:
for i in df_2020.columns:
    print(i)

mod_d
ID
ID_fam
year
region
town_t
apt_t
psu
sex
age
age_month
incm
ho_incm
incm5
ho_incm5
edu
occp
wt_hs
wt_itvex
wt_oe
wt_ntr
wt_tot
wt_oent
kstrata
cfam
genertn
allownc
house
live_t
ainc_unit1
ainc_1
ainc
marri_1
marri_2
fam_rela
tins
npins
ID_F
ID_M
D_1_1
D_2_1
D_2_wk
DI1_dg
DI1_ag
DI1_pr
DI1_pt
DI1_2
DI2_dg
DI2_ag
DI2_pr
DI2_pt
DI2_2
DI3_dg
DI3_ag
DI3_pr
DI3_pt
DI3_2
DI4_dg
DI4_pr
DI4_pt
DI5_dg
DI5_ag
DI5_pr
DI5_pt
DI6_dg
DI6_ag
DI6_pr
DI6_pt
DM1_dg
DM1_pr
DM1_pt
DM2_dg
DM2_ag
DM2_pr
DM2_pt
DM3_dg
DM3_ag
DM3_pr
DM3_pt
DM4_dg
DM4_ag
DM4_pr
DM4_pt
DJ2_dg
DJ2_ag
DJ2_pr
DJ2_pt
DJ4_dg
DJ4_ag
DJ4_pr
DJ4_pt
DJ4_3
DE2_dg
DE2_ag
DE2_pr
DE2_pt
DE1_dg
DE1_ag
DE1_pr
DE1_pt
DE1_3
DE1_31
DE1_32
DE1_33
DE1_34
DE1_35
DE1_4
DC1_dg
DC1_ag
DC1_pr
DC1_pt
DC2_dg
DC2_ag
DC2_pr
DC2_pt
DC3_dg
DC3_ag
DC3_pr
DC3_pt
DC4_dg
DC4_ag
DC4_pr
DC4_pt
DC5_dg
DC5_ag
DC5_pr
DC5_pt
DC6_dg
DC6_ag
DC6_pr
DC6_pt
DC7_dg
DC7_ag
DC7_pr
DC7_pt
DC11_tp
DC11_dg
DC11_ag
DC11_pr
DC11_pt
DC12_tp
DC12_dg
DC12_ag
DC12_pr
DC12_pt
DF2_dg
DF2_ag
DF2_pr
DF2_pt
DL1_dg
DL1_ag
DL1_pr
DL1_pt
DJ8_dg
DJ8_ag
DJ8_pr
DJ8_pt
DJ6_dg
DJ6_ag
DJ6_pr
DJ6_pt
DH4_dg
DH4_ag
DH4_pr
DH4_pt
DH2_dg
DH2_ag
DH2_pr
DH2_pt
DH3_dg
DH3_ag
DH3_pr
DH3_pt
DH6_dg
DH6_ag
DH6_pr
DH6_pt
DH7_dg
DH7_ag
DH7_pr
DH7_pt
DN1_dg
DN1_ag
DN1_pr
DN1_pt
DK8_dg
DK8_ag
DK8_pr
DK8_pt
DK9_dg
DK9_ag
DK9_pr
DK9_pt
DK4_dg
DK4_ag
DK4_pr
DK4_pt
DM8_dg
DM8_ag
DM8_pr
DM8_pt
BP17_dg
DF1_yd
DF1_ya
DJ9_yd
DJ9_ya
M_2_yr
M_2_rs
M_2_et
mt_nontrt
BH9_11
BH1
BH2_61
LQ4_00
LQ4_01
LQ4_02
LQ4_03
LQ4_04
LQ4_05
LQ4_06
LQ4_07
LQ4_08
LQ4_09
LQ4_10
LQ4_11
LQ4_12
LQ4_13
LQ4_14
LQ4_15
LQ4_16
LQ4_21
LQ4_22
LQ4_25
LQ4_26
LQ4_27
LQ4_28
LQ4_29
LQ4_23
LQ4_24
LQ4_17
LQ4_18
LQ4_19
LQ4_20
LQ1_sb
LQ1_mn
LQ2_ab
LQ2_mn
LQ_1EQL
LQ_2EQL
LQ_3EQL
LQ_4EQL
LQ_5EQL
EQ5D
AC1_yr
AC3
AC3_1_01
AC3_2_01
AC8_1_01
AC8_1e_01
AC3_1_02
AC3_2_02
AC8_1_02
AC8_1e_02
AC3_1_03
AC3_2_03
AC8_1_03
AC8_1e_03
AC3_1_04
AC3_2_04
AC8_1_04
AC8_1e_04
AC3_1_05
AC3_2_05
AC8_1_05
AC8_1e_05
ij_expr
MH1_yr
MH1_1
MO1_wk
MO1_1
educ
graduat
CH2_1
CH2_2
EC1_1
EC_occp
EC_stt_1
EC_stt_2
EC_wht_0
EC_wht_23
EC_wht_5
EC_wht_6
EC_lgw_2
EC_lgw_4
EC_lgw_5
EC_pedu_1
EC_pedu_2
BO1
BO1_1
BO1_2
BO1_3
BO2_1
BD1
BD2
BD1_11
BD2_1
BD2_14
BD2_31
BD2_32
BD7_4
BD7_5
BD7_61
BD7_62
BD7_63
BD7_64
BD7_65
BD7_66
BD7_67
BD9_1
BD9_2
dr_month
BA2_12
BA2_13
BA2_14
BA2_2_1
BA2_2_2
BA2_2_3
BA2_2_4
BA2_2_5
BA2_2_6
BA2_22
BA1_1
BA1_3
BA1_2
sc_seatblt
sc_seatblt2
sc_seatblt3
BP16_1
BP16_2
BP17_2
BP17_3
BP17_4
BP_PHQ_1
BP_PHQ_2
BP_PHQ_3
BP_PHQ_4
BP_PHQ_5
BP_PHQ_6
BP_PHQ_7
BP_PHQ_8
BP_PHQ_9
mh_PHQ_S
BP1
BP5
BP6_10
BP6_2
BP6_31
BP7
mh_stress
BS1_1
BS2_1
BS3_1
BS3_2
BS3_3
BS6_2
BS6_2_1
BS6_2_2
BS6_3
BS6_4
BS6_4_1
BS6_4_2
BS12_37
BS12_47
BS12_47_1
BS12_47_2
BS12_47_4
BS12_47_5
BS12_1
BS12_2
BS12_31
BS12_32
BS12_33
BS12_34
BS12_35
BS12_36
BS12_41
BS12_42
BS12_43
BS12_44
BS12_45
BS12_46
BS5
BS5_1
BS8_2
BS9_2
BS13
BS10_1
BS2
BS10_2
BS10_3
sm_presnt
BE3_71
BE3_72
BE3_73
BE3_74
BE3_81
BE3_82
BE3_83
BE3_84
BE3_91
BE3_92
BE3_93
BE3_94
BE3_75
BE3_76
BE3_77
BE3_78
BE3_85
BE3_86
BE3_87
BE3_88
BE8_1
BE8_2
BE3_31
BE3_32
BE3_33
BE5_1
BE9
pa_aerobic
LW_ms
LW_mp_e
LW_mp_a
LW_ms_a
LW_pr
LW_pr_1
LW_mt
LW_mt_a1
LW_mt_a2
LW_br
LW_br_ch
LW_br_dur
LW_br_yy
LW_br_mm
LW_oc
HE_fst
HE_HPdr
HE_DMdr
HE_mens
HE_prg
HE_dprg
HE_fh
HE_HPfh1
HE_HPfh2
HE_HPfh3
HE_HLfh1
HE_HLfh2
HE_HLfh3
HE_IHDfh1
HE_IHDfh2
HE_IHDfh3
HE_STRfh1
HE_STRfh2
HE_STRfh3
HE_DMfh1
HE_DMfh2
HE_DMfh3
HE_THfh1
HE_THfh2
HE_THfh3
HE_HBfh1
HE_HBfh2
HE_HBfh3
HE_rPLS
HE_PLS_30
HE_mPLS
HE_nARM
HE_sbp1
HE_dbp1
HE_sbp2
HE_dbp2
HE_sbp3
HE_dbp3
HE_sbp
HE_dbp
HE_HP
HE_ht
HE_wt
HE_wc
HE_nc
HE_BMI
HE_obe
HE_wt_pct
HE_BMI_pct
HE_glu
HE_HbA1c
HE_insulin
HE_insulin_etc
HE_DM_HbA1c
HE_chol
HE_HDL_st2
HE_TG
HE_LDL_drct
HE_HCHOL
HE_HTG
HE_ast
HE_alt
HE_alt_etc
HE_hepaB
HE_hepaC
HE_HB
HE_HCT
HE_anem
HE_BUN
HE_crea
HE_WBC
HE_RBC
HE_Bplt
HE_Uacid
HE_Uacid_etc
HE_Uph
HE_Unitr
HE_Usg
HE_Upro
HE_Uglu
HE_Uket
HE_Ubil
HE_Ubld
HE_Uro
HE_Ucrea
HE_Ucrea_etc
HE_UNa
HE_Ualb
HE_Ualb_etc
HE_Ukal
HE_Ukal_etc
HE_Ucot
HE_Ucot_etc
O_SEAL
O_TC
O_PROS_U
O_PROS_L
O_IMP_UI
O_IMP_UM
O_IMP_LI
O_IMP_LM
O_BR_N_U
O_BR_N_L
O_DENT_U
O_DENT_L
O_F
OR1
O_pain
O_ortho
BM1_0
BM1_1
BM1_2
BM1_3
BM1_4
BM1_5
BM1_6
BM1_7
BM1_8
BM2_1
BM2_3
BM2_2
BM2_4
BM2_5
BM13
BM13_1
BM13_2
BM13_3
BM13_4
BM13_5
BM13_6
BM7
O_chew_d
BM8
OR1_2
MO4_00
MO4_4
MO4_9
MO4_7
MO4_8
MO4_17_1
MO4_17_2
MO4_11
MO4_12
MO4_18
MO4_15
BM14
BM14_1
BM14_2
T_ex
T_Q_HR
T_Q_HR_1
T_Q_HR_2
T_NQ_OCP
T_Q_VN
T_Q_VN_1
T_Q_VN_2
T_Q_DZ
T_Q_DZ2
T_Q_DZ3
T_Q_DZ4
T_Q_DZ5
T_Q_DZ6
T_Q_DZ7
T_Q_CR
T_Q_CR1
T_Q_CR2
T_Q_CR3
T_Q_CR4
T_Q_ALLE
T_Q_SNST1
T_Q_SNST2
T_Q_SNST3
T_Q_SNST4
T_Q_SINU
T_Q_SINU_1
T_Q_VC
T_Q_VC1
T_HR_EX_R
T_HR_EX_R_1
T_HR_EX_L
T_HR_EX_L_1
T_HR500_pass
T_HR1000_pass
T_HR2000_pass
T_HR4000_pass
T_HR500_RT
T_HR1000_RT
T_HR2000_RT
T_HR4000_RT
T_HR8000_RT
T_HR500_LT
T_HR1000_LT
T_HR2000_LT
T_HR4000_LT
T_HR8000_LT
T_HL_mod
T_HL_mild
T_IM_EX_R
T_IM_EX_R_1
T_IM_EX_L
T_IM_EX_L_1
T_IM_A_R
T_IM_A_L
T_IM_B_R
T_IM_B_L
T_IM_C_R
T_IM_C_L
T_IM_FL_R
T_IM_FL_L
T_Tymp_Dis
E_ex
E_Q_EX
E_DG
E_DG1
E_PEO
E_PEO_1
E_DR
E_DR1
E_NWT
E_CLU
E_CLD
E_CLT
E_CLS
E_CL_pr
E_CLC
E_EXC_1
E_Cr_m
E_Cr_1
E_Cl_m
E_Cl_1
E_Dr_dsph
E_Dr_dcyl
E_Dr_a
E_Dr_2_1
E_Dl_dsph
E_Dl_dcyl
E_Dl_a
E_Dl_2_1
E_NMRC_r
E_NMRC_l
E_Pr_1
E_Pl_1
E_DM
E_DM_r
E_DM_l
E_DME
E_DME_r
E_DME_l
E_AMD
E_AMD_r
E_AMD_l
E_EM
E_EM_r
E_EM_l
E_MH
E_MH_r
E_MH_l
E_RVO
E_RVO_r
E_RVO_l
E_GR
L_BR
L_LN
L_DN
L_BR_FQ
L_LN_FQ
L_DN_FQ
L_BR_TO
L_BR_WHO
L_LN_TO
L_LN_WHO
L_DN_TO
L_DN_WHO
L_OUT_FQ
LS_VEG1
LS_VEG2
LS_FRUIT
LS_1YR
LK_EDU
LK_LB_CO
LK_LB_US
LK_LB_IT
LK_LB_EF
DQ_CWATER
DA_CWATER
DQ_SODA
DA_SODA
DQ_SPORTS
DA_SPORTS
DQ_CAFFEINE
DA_CAFFEINE
DQ_FVJUICE
DA_FVJUICE
DQ_SFVJUICE
DA_SFVJUICE
DQ_COFFEE
DA_COFFEE
DQ_SCOFFEE
DA_SCOFFEE
DQ_TEA
DA_TEA
DQ_STEA
DA_STEA
DQ_MILK
DA_MILK
DQ_SMILK
DA_SMILK
DQ_YOGURT
DA_YOGURT
Y_BTH_WT
Y_MTM_YN
Y_MTM_S1
Y_MTM_S2
Y_MTM_D1
Y_MTM_D2
Y_FM_YN
Y_FM_S1
Y_FM_S2
Y_FM_D1
Y_FM_D2
Y_MLK_ST
Y_WN_ST
Y_SUP_YN
Y_SUP_KD1
Y_SUP_KD3
Y_SUP_KD4
Y_SUP_KD7
N_DIET
N_DIET_WHY
N_DT_DS
N_DT_ETC
N_DUSUAL
N_WAT_C
N_PRG
N_BFD_Y
N_DAY
N_INTK
N_EN
N_WATER
N_PROT
N_FAT
N_SFA
N_MUFA
N_PUFA
N_N3
N_N6
N_CHOL
N_CHO
N_TDF
N_SUGAR
N_CA
N_PHOS
N_NA
N_K
N_MG
N_FE
N_ZN
N_VA_RAE
N_VITD
N_VITE
N_CAROT
N_RETIN
N_B1
N_B2
N_NIAC
N_FOLATE
N_VITC
TLS_CA
TLS_PHOS
TLS_FE
TLS_VA
TLS_B1
TLS_B2
TLS_NIAC
TLS_VITC
LF_SECUR_Y
LF_BUYER
LF_CHIL
LF_SAFE
LF_S2
LF_S3
LF_S4
LF_S5
LF_S5_1
LF_S6
LF_S7
LF_S8
LF_S9
LF_S9_1
LF_S10
LF_S11
LF_S12
LF_S13
LF_S14
LF_S14_1
LF_S15
LF_S16
LF_SECUR
LF_SECUR_G

In [37]:
df_2020d = df_2020[['age', 'sex', 'HE_LDL_drct', 'HE_HDL_st2', 'HE_insulin', 'HE_glu', 'HE_BMI', 'HE_wt', 'HE_wc', 'HE_chol', 'HE_TG']]
df_2021d = df_2021[['age', 'sex', 'HE_LDL_drct', 'HE_HDL_st2', 'HE_insulin', 'HE_glu', 'HE_BMI', 'HE_wt', 'HE_wc', 'HE_chol', 'HE_TG']]

#### 2020년도 전처리

In [12]:
df_2020d.isnull().sum()

age               0
sex               0
HE_LDL_drct    6515
HE_HDL_st2     1023
HE_insulin     1025
HE_glu         1023
HE_BMI          370
HE_wt           292
HE_wc           603
HE_chol        1023
HE_TG          1023
dtype: int64

In [27]:
# LDL행의 HE_wt(체중), HE_BMI(체질량지수), HE_wc(허리둘레) na값 존재
df_20_drop = df_2020d[df_2020d['HE_LDL_drct'].notnull()]
print(df_20_drop.shape)
df_20_drop.isnull().sum()

(844, 11)

age             0
sex             0
HE_LDL_drct     0
HE_HDL_st2      0
HE_insulin      0
HE_glu          0
HE_BMI         11
HE_wt           4
HE_wc           6
HE_chol         0
HE_TG           0
dtype: int64

In [24]:
df_20_drop.dropna(inplace=True)
df_20_drop

/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_81776/3355301887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_drop.dropna(inplace=True)

,age,sex,HE_LDL_drct,HE_HDL_st2,HE_insulin,HE_glu,HE_BMI,HE_wt,HE_wc,HE_chol,HE_TG
17,47,2,146.0,43.0,10.0,102.0,27.0,70.0,89.0,230.0,274.0
25,60,1,97.0,43.0,10.0,96.0,25.0,70.0,85.0,205.0,266.0
44,64,1,95.0,40.0,4.0,89.0,27.0,84.0,91.0,203.0,289.0
50,58,1,113.0,41.0,14.0,101.0,26.0,78.0,92.0,207.0,228.0
53,31,1,90.0,43.0,14.0,97.0,32.0,101.0,102.0,209.0,611.0
...,...,...,...,...,...,...,...,...,...,...,...
7333,45,1,147.0,51.0,7.0,90.0,27.0,76.0,90.0,232.0,222.0
7338,75,1,111.0,43.0,9.0,159.0,26.0,70.0,90.0,192.0,226.0
7349,65,2,98.0,33.0,15.0,131.0,25.0,60.0,82.0,190.0,331.0
7350,30,2,108.0,41.0,45.0,94.0,29.0,89.0,98.0,186.0,280.0
7352,58,2,61.0,37.0,9.0,113.0,23.0,54.0,82.0,151.0,241.0

#### 2021년도 전처리

In [38]:
df_2021d.isnull().sum()

age               0
sex               0
HE_LDL_drct    6387
HE_HDL_st2     1073
HE_insulin     1073
HE_glu         1073
HE_BMI          486
HE_wt           404
HE_wc           661
HE_chol        1073
HE_TG          1073
dtype: int64

In [40]:
df_2021d[df_2021d['HE_LDL_drct'].notnull()]

,age,sex,HE_LDL_drct,HE_HDL_st2,HE_insulin,HE_glu,HE_BMI,HE_wt,HE_wc,HE_chol,HE_TG
0,61,1,96.0,61.0,28.0,103.0,27.0,87.0,104.0,191.0,302.0
6,77,2,152.0,49.0,13.0,101.0,21.0,52.0,76.0,265.0,288.0
9,49,1,108.0,35.0,11.0,171.0,28.0,90.0,99.0,234.0,455.0
13,57,2,103.0,39.0,19.0,117.0,NaN,66.0,90.0,174.0,224.0
14,69,1,123.0,52.0,8.0,96.0,28.0,72.0,95.0,208.0,242.0
...,...,...,...,...,...,...,...,...,...,...,...
7063,47,1,146.0,36.0,10.0,116.0,24.0,67.0,84.0,223.0,216.0
7069,79,2,76.0,40.0,10.0,117.0,24.0,50.0,87.0,161.0,235.0
7074,50,1,127.0,40.0,21.0,100.0,24.0,73.0,88.0,210.0,299.0
7077,43,1,163.0,42.0,10.0,98.0,24.0,70.0,84.0,253.0,296.0
7086,45,1,152.0,37.0,21.0,115.0,34.0,105.0,111.0,229.0,299.0

In [42]:
df_2021d[df_2021d['HE_HDL_st2'].notnull()]
# null이 아닌 HDL의 데이터가 LDL보단 많음

,age,sex,HE_LDL_drct,HE_HDL_st2,HE_insulin,HE_glu,HE_BMI,HE_wt,HE_wc,HE_chol,HE_TG
0,61,1,96.0,61.0,28.0,103.0,27.0,87.0,104.0,191.0,302.0
1,57,1,NaN,49.0,10.0,94.0,26.0,82.0,93.0,187.0,102.0
2,39,2,NaN,45.0,12.0,101.0,23.0,59.0,79.0,184.0,184.0
3,19,2,NaN,41.0,8.0,95.0,22.0,63.0,74.0,162.0,135.0
4,70,1,NaN,51.0,2.0,100.0,19.0,56.0,73.0,169.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...
7082,44,2,NaN,35.0,9.0,99.0,24.0,60.0,76.0,184.0,168.0
7084,54,2,NaN,33.0,5.0,86.0,23.0,55.0,81.0,199.0,79.0
7085,25,1,NaN,63.0,6.0,81.0,28.0,87.0,91.0,214.0,48.0
7086,45,1,152.0,37.0,21.0,115.0,34.0,105.0,111.0,229.0,299.0
7087,43,2,NaN,56.0,3.0,78.0,20.0,55.0,72.0,163.0,47.0

In [44]:
df_21_drop = df_2021d.dropna()
print(df_21_drop.shape)
df_21_drop.isnull().sum()

(680, 11)

age            0
sex            0
HE_LDL_drct    0
HE_HDL_st2     0
HE_insulin     0
HE_glu         0
HE_BMI         0
HE_wt          0
HE_wc          0
HE_chol        0
HE_TG          0
dtype: int64

## 전처리 후, 합치기

In [45]:
df_20_drop['year'] = 2020
df_21_drop['year'] = 2021

/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_81776/3695286554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20_drop['year'] = 2020
/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_81776/3695286554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_21_drop['year'] = 2021

In [ ]:
pd.merge(df_20_drop,pd.)